//fonts
$main-font-family: Muli, sans-serif;
$additional-font-family:'Old Standard TT', serif;


//colors
$text-color: #2F2E2E;
$active-color: grey;

$container-width: 950px;

$common-padding: 30px;


$screen-x-large: 1176px;
$screen-large: 768px;
$screen-medium: 600px;
$screen-small: 440px;