@import "mixins";
@import "variables";

* {
  box-sizing: border-box;
}

body {

  font: {
    family: $main-font-family;
    size: 18px;
  }

  font-family: $main-font-family;
  color: $text-color;
  margin: 0;
}

.container {
  max-width: $container-width;
  margin: auto;
  margin-bottom: $common-padding/2;
}

.container-main-menu {
  margin-bottom: $common-padding/6;
  margin-top: $common-padding;
}

header {
  display: inline-block;

  font: {
    weight: bold;
    style: italic;
    size: 1.4rem;
    family: $additional-font-family;
  }

  a {
    text-decoration: none;
    color: $text-color;
  }

  sup {
    font-weight: normal;
  }

  .fa {
    font-size: 0.7rem;
  }
}

.icon-header {
  display: inline-block;
  padding-left: $common-padding/3;
  vertical-align: bottom;
  margin-bottom: -$common-padding/10;
}

.main-menu {

  ul {
    display: inline-block;
    font-family: $additional-font-family;
    margin-bottom: 0;

    li {
      display: inline-block;

      a {
        text-decoration: none;
        color: $text-color;
        font-size: 1rem;
        padding: $common-padding/10;

        &:hover {
          color: $active-color;
        }
      }
    }
  }
}

.main-menu {

  .menu {
    display: none;
  }

  button.menu {
    display: inline-block;
    float: right;
    border: 1px solid $text-color;
    border-radius: 3px;
    background: none;
    padding: $common-padding/3 $common-padding/2;
    margin-right: $common-padding/2;
  }

  .small-menu {
    text-align: right;
    margin-right: $common-padding/2;
    margin-top: $common-padding/2;
    border-top: 1px solid $text-color;
  }
}

.small-menu {

  .small-menu--menu {
    display: inline-block;
    padding-left: 0;
    float: left;
  }
}

.invisible {
  display: none;
}

.icons {
  display: none;
  margin-top: $common-padding/3;

  .icon {
    display: inline-block;
    font-size: 1.4rem;

    a {
      text-decoration: none;
      color: $text-color;
      padding: $common-padding/3;
    }
  }
}

.menus {
  text-align: center;
}

.menu-information {
  font-size: 0.9rem;
  border-bottom: 1px solid $text-color;
  padding: 0 $common-padding/2;

  .menu-img {
    padding-top: $common-padding;
  }

  .double-line {
    margin: auto;
  }

  a {
    text-decoration: none;
    color: $text-color;
  }
}

#video-container {
  position: relative;
  text-align: center;
  width: 100%;

  video {
    width: 100%;
    display: block;
  }

  .title {
    position: absolute;
    top: 0;
    color: white;
    text-transform: uppercase;

    font: {
      family: $additional-font-family;
      size: 4vw;
    }
  }

  .double-line {
    position: absolute;
    top: 0;
    border-color: white;
  }
}

.double-line {
  border-top: 2px solid $text-color;
  border-bottom: 2px solid $text-color;
  height: 10px;
  width: 40px;
}

h1,
p {
  color: $text-color;
}

h1 {
  font-family: $additional-font-family;
  font-weight: 100;
}

.chef-img {
  background-image: url("https://static.wixstatic.com/media/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg/v1/fill/w_1066,h_682,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_a5a164acd00a4ae7940be550e4915303.webp");
  height: 200px;
  background-size: cover;
}

.about {
  font-size: 0.9rem;
  padding: $common-padding/2;

  p {
    padding-top: $common-padding/2;
  }
}

.second-menu {
  text-align: center;


  .second-menu-information {
    padding: 0 $common-padding/2;
  }

    .double-line {
      margin: $common-padding/2 auto;
    }

    h2 {
      margin: $common-padding 0 0 0;
    }

    p {
      font-size: 1rem;
      margin: $common-padding/6;
    }

    button {
      border: 1px solid $text-color;
      background: none;
      padding: $common-padding/3 $common-padding;
      margin: $common-padding/2 0;
    }
}

.second-menu-img {
  background-image: url("https://static.wixstatic.com/media/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg/v1/fill/w_320,h_267,al_c,q_80,usm_0.66_1.00_0.01/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.webp");
  background-size: cover;
  height: 300px;
}

@media screen and (min-width: 769px) {

  .main-menu {

    .menu {
      display: inline-block;
    }

    ul {
      padding-left: $common-padding*2;

      li {

        a {
          padding: $common-padding/2;
        }
      }
    }
  }

  .icons {
    display: inline-block;
    float: right;
  }

  #video-container {
    max-height: 850px;
    overflow: hidden;

    .title {
      font-size: 3vw;
    }
  }

  .main-menu {

    button.menu {
      display: none;
    }

    .small-menu {
      border-color: transparent;
    }
  }

  .small-menu {

    .small-menu--menu,
    .small-menu--icons {
      display: none;
    }
  }

  .container-main-menu {
    margin-bottom: $common-padding;
  }

  .restaurant-menus {
    .container {
      padding-top: $common-padding*3;
    }
  }

  .about-container {
    height: 600px;
  }

  .about {
    font-size: 1.2rem;
    width: 50%;
    max-width: 512px;
    padding: $common-padding*3 0 0 $common-padding*2;
    display: inline-block;
  }

  .chef-img {
    background-image: url("https://static.wixstatic.com/media/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg/v1/fill/w_1066,h_682,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_a5a164acd00a4ae7940be550e4915303.webp");
    width: 50%;
    background-size: cover;
    background-position: 90%;
    height: 600px;
    display: inline-block;
    float: left;
  }

  .restaurant-menus {
    background-image: url("https://static.wixstatic.com/media/e1c78c_823b4e996eb74e60b4505f1dc7b725f3.jpg/v1/fill/w_1863,h_828,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_823b4e996eb74e60b4505f1dc7b725f3.webp");
    background-size: cover;
    height: 800px;
    width: 100%;
  }

  .menus {
    text-align: center;
  }

  .menu-information {
    border-color: transparent;
    font-size: 1.1rem;
    display: inline-block;
    background-color: white;
    width: 30%;
    text-align: center;
    margin: $common-padding/3;

    img {
      height: 185px;
    }

    a {
      text-decoration: none;
      color: $text-color;
    }

    .double-line {
      margin: auto;
    }

    h3:last-child {
      padding: 0 $common-padding*2;
    }

    p {
      padding-top: $common-padding;
    }
  }

  .menu-img {
    padding-top: $common-padding*2;
  }

  .second-menu {
    background-image: url("https://static.wixstatic.com/media/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg/v1/fill/w_1863,h_867,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.webp");
    text-align: center;
    overflow: hidden;
    padding-top: $common-padding*3;

    & .container {
      width: $container-width/2;
    }

    button {
      background: none;
      border: 1px solid $text-color;
      padding: $common-padding/2 $common-padding;
      margin: $common-padding*2 0;
    }
    .second-menu-information {
      background-color: white;

      h2 {
        padding-top: $common-padding*3;
        font-size: 2.2rem;
      }
      p {
        margin: $common-padding/6;
        font-size: 1rem;
      }
      h3 {
        padding: 0 $common-padding*3;
      }
    }
    .double-line {
      margin: $common-padding auto;
    }

    .second-menu-img {
      display: none;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .main-menu {
    .menu {
      display: inline-block;
    }

    ul {
      padding-left: $common-padding*2;

      li {

        a {
          padding: $common-padding/3;
        }
      }
    }
  }

  .small-menu {
    .small-menu--menu {
      display: none;
    }
  }

  .main-menu {
    button.menu {
      margin-top: $common-padding/3;
    }
  }

  .container {
    margin-bottom: 0;
  }

  .container-main-menu {
    margin-bottom: $common-padding;
  }

  .chef-img {
    background-image: url("https://static.wixstatic.com/media/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg/v1/fill/w_1066,h_682,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_a5a164acd00a4ae7940be550e4915303.webp");
    height: 330px;
    background-size: cover;
  }

  .about {
    font-size: 1.2rem;
    padding: $common-padding;

    p {
      padding-top: $common-padding;
    }
  }

  .menus {
    text-align: center;
  }

  .menu-information {
    font-size: 1.2rem;
    padding: 0 $common-padding*3;
    margin: $common-padding/3;
    border-bottom: 1px solid $text-color;

    .double-line {
      margin: auto;
    }

    a {
      text-decoration: none;
      color: $text-color;
    }
  }

  .menu-img {
    padding-top: $common-padding;
  }

  .second-menu {
    text-align: center;

    button {
      background: none;
      border: 1px solid $text-color;
      padding: $common-padding/2 $common-padding;
      margin: $common-padding 0;
    }

    .double-line {
      margin: $common-padding auto;
    }

    .second-menu-information {
      p {
        font-size: 0.9rem;
        margin: $common-padding/6;
      }
    }
  }
  .second-menu-img {
    background-image: url("https://static.wixstatic.com/media/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg/v1/fill/w_980,h_867,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.webp");
    background-size: cover;
    height: 500px;
  }
}

@media screen and (min-width: 440px) and (max-width: 600px) {
  .chef-img {
    background-image: url("https://static.wixstatic.com/media/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg/v1/fill/w_1066,h_682,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_a5a164acd00a4ae7940be550e4915303.webp");
    height: 280px;
    background-size: cover;
  }

  .menu-information {
    border-bottom: 1px solid $text-color;
    font-size: 1.2rem;
  }

}