* {
  box-sizing: border-box; }

body {
  font-family: Muli, sans-serif;
  font-size: 18px;
  font-family: Muli, sans-serif;
  color: #2F2E2E;
  margin: 0; }

.container {
  max-width: 950px;
  margin: auto;
  margin-bottom: 15px; }

.container-main-menu {
  margin-bottom: 5px;
  margin-top: 30px; }

header {
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  font-size: 1.4rem;
  font-family: "Old Standard TT", serif; }
  header a {
    text-decoration: none;
    color: #2F2E2E; }
  header sup {
    font-weight: normal; }
  header .fa {
    font-size: 0.7rem; }

.icon-header {
  display: inline-block;
  padding-left: 10px;
  vertical-align: bottom;
  margin-bottom: -3px; }

.main-menu ul {
  display: inline-block;
  font-family: "Old Standard TT", serif;
  margin-bottom: 0; }
  .main-menu ul li {
    display: inline-block; }
    .main-menu ul li a {
      text-decoration: none;
      color: #2F2E2E;
      font-size: 1rem;
      padding: 3px; }
      .main-menu ul li a:hover {
        color: grey; }

.main-menu .menu {
  display: none; }
.main-menu button.menu {
  display: inline-block;
  float: right;
  border: 1px solid #2F2E2E;
  border-radius: 3px;
  background: none;
  padding: 10px 15px;
  margin-right: 15px; }
.main-menu .small-menu {
  text-align: right;
  margin-right: 15px;
  margin-top: 15px;
  border-top: 1px solid #2F2E2E; }

.small-menu .small-menu--menu {
  display: inline-block;
  padding-left: 0;
  float: left; }

.invisible {
  display: none; }

.icons {
  display: none;
  margin-top: 10px; }
  .icons .icon {
    display: inline-block;
    font-size: 1.4rem; }
    .icons .icon a {
      text-decoration: none;
      color: #2F2E2E;
      padding: 10px; }

.menus {
  text-align: center; }

.menu-information {
  font-size: 0.9rem;
  border-bottom: 1px solid #2F2E2E;
  padding: 0 15px; }
  .menu-information .menu-img {
    padding-top: 30px; }
  .menu-information .double-line {
    margin: auto; }
  .menu-information a {
    text-decoration: none;
    color: #2F2E2E; }

#video-container {
  position: relative;
  text-align: center;
  width: 100%; }
  #video-container video {
    width: 100%;
    display: block; }
  #video-container .title {
    position: absolute;
    top: 0;
    color: white;
    text-transform: uppercase;
    font-family: "Old Standard TT", serif;
    font-size: 4vw; }
  #video-container .double-line {
    position: absolute;
    top: 0;
    border-color: white; }

.double-line {
  border-top: 2px solid #2F2E2E;
  border-bottom: 2px solid #2F2E2E;
  height: 10px;
  width: 40px; }

h1,
p {
  color: #2F2E2E; }

h1 {
  font-family: "Old Standard TT", serif;
  font-weight: 100; }

.chef-img {
  background-image: url("https://static.wixstatic.com/media/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg/v1/fill/w_1066,h_682,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_a5a164acd00a4ae7940be550e4915303.webp");
  height: 200px;
  background-size: cover; }

.about {
  font-size: 0.9rem;
  padding: 15px; }
  .about p {
    padding-top: 15px; }

.second-menu {
  text-align: center; }
  .second-menu .second-menu-information {
    padding: 0 15px; }
  .second-menu .double-line {
    margin: 15px auto; }
  .second-menu h2 {
    margin: 30px 0 0 0; }
  .second-menu p {
    font-size: 1rem;
    margin: 5px; }
  .second-menu button {
    border: 1px solid #2F2E2E;
    background: none;
    padding: 10px 30px;
    margin: 15px 0; }

.second-menu-img {
  background-image: url("https://static.wixstatic.com/media/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg/v1/fill/w_320,h_267,al_c,q_80,usm_0.66_1.00_0.01/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.webp");
  background-size: cover;
  height: 300px; }

.review {
  text-align: center;
  font-size: 1.2rem;
  padding: 15px; }
  .review h2, .review p {
    font-family: "Old Standard TT", serif;
    font-weight: normal;
    margin: 3px; }

img.round-face {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid grey;
  margin: 15px; }

img.quotation {
  width: 50px;
  margin: 30px; }

@media screen and (min-width: 769px) {
  .main-menu .menu {
    display: inline-block; }
  .main-menu ul {
    padding-left: 60px; }
    .main-menu ul li a {
      padding: 15px; }

  .icons {
    display: inline-block;
    float: right; }

  #video-container {
    max-height: 850px;
    overflow: hidden; }
    #video-container .title {
      font-size: 3vw; }

  .main-menu button.menu {
    display: none; }
  .main-menu .small-menu {
    border-color: transparent; }

  .small-menu .small-menu--menu,
  .small-menu .small-menu--icons {
    display: none; }

  .container-main-menu {
    margin-bottom: 30px; }

  .restaurant-menus .container {
    padding-top: 120px; }

  .about-container {
    height: 600px; }

  .about {
    font-size: 1.2rem;
    width: 50%;
    max-width: 512px;
    padding: 90px 0 0 60px;
    display: inline-block; }

  .chef-img {
    background-image: url("https://static.wixstatic.com/media/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg/v1/fill/w_1066,h_682,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_a5a164acd00a4ae7940be550e4915303.webp");
    width: 50%;
    background-size: cover;
    background-position: 90%;
    height: 600px;
    display: inline-block;
    float: left; }

  .restaurant-menus {
    background-image: url("https://static.wixstatic.com/media/e1c78c_823b4e996eb74e60b4505f1dc7b725f3.jpg/v1/fill/w_1863,h_828,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_823b4e996eb74e60b4505f1dc7b725f3.webp");
    background-size: cover;
    height: 800px;
    width: 100%; }

  .menus {
    text-align: center; }

  .menu-information {
    border-color: transparent;
    font-size: 1.1rem;
    display: inline-block;
    background-color: white;
    width: 30%;
    text-align: center;
    margin: 10px; }
    .menu-information img {
      height: 185px; }
    .menu-information a {
      text-decoration: none;
      color: #2F2E2E; }
    .menu-information .double-line {
      margin: auto; }
    .menu-information h3:last-child {
      padding: 0 60px; }
    .menu-information p {
      padding-top: 30px; }

  .menu-img {
    padding-top: 60px; }

  .second-menu {
    background-image: url("https://static.wixstatic.com/media/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg/v1/fill/w_1863,h_867,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.webp");
    text-align: center;
    overflow: hidden;
    padding-top: 120px;
    height: 867px; }
    .second-menu .container {
      width: 475px; }
    .second-menu button {
      background: none;
      border: 1px solid #2F2E2E;
      padding: 15px 30px;
      margin: 60px 0; }
    .second-menu .second-menu-information {
      background-color: white; }
      .second-menu .second-menu-information h2 {
        padding-top: 90px;
        font-size: 2.2rem; }
      .second-menu .second-menu-information p {
        margin: 5px;
        font-size: 1rem; }
      .second-menu .second-menu-information h3 {
        padding: 0 90px; }
    .second-menu .double-line {
      margin: 30px auto; }
    .second-menu .second-menu-img {
      display: none; }

  .review {
    background-image: url("https://static.wixstatic.com/media/e1c78c_6ae16d26be03488a93c6c91e40313df7.jpg/v1/fill/w_1863,h_740,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_6ae16d26be03488a93c6c91e40313df7.webp");
    height: 740px;
    text-align: center;
    font-size: 1.5rem; }
    .review .container {
      padding-top: 180px; }
    .review p {
      font-size: 1rem; }
    .review h2, .review p {
      font-family: "Old Standard TT", serif;
      font-weight: normal;
      margin: 3px; }

  img.round-face {
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
    margin: 30px; }

  img.quotation {
    margin-bottom: 30px; } }
@media screen and (min-width: 601px) and (max-width: 768px) {
  .main-menu .menu {
    display: inline-block; }
  .main-menu ul {
    padding-left: 60px; }
    .main-menu ul li a {
      padding: 10px; }

  .small-menu .small-menu--menu {
    display: none; }

  .main-menu button.menu {
    margin-top: 10px; }

  .container {
    margin-bottom: 0; }

  .container-main-menu {
    margin-bottom: 30px; }

  .chef-img {
    background-image: url("https://static.wixstatic.com/media/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg/v1/fill/w_1066,h_682,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_a5a164acd00a4ae7940be550e4915303.webp");
    height: 330px;
    background-size: cover; }

  .about {
    font-size: 1.2rem;
    padding: 30px; }
    .about p {
      padding-top: 30px; }

  .menus {
    text-align: center; }

  .menu-information {
    font-size: 1.2rem;
    padding: 0 90px;
    margin: 10px;
    border-bottom: 1px solid #2F2E2E; }
    .menu-information .double-line {
      margin: auto; }
    .menu-information a {
      text-decoration: none;
      color: #2F2E2E; }

  .menu-img {
    padding-top: 30px; }

  .second-menu {
    text-align: center; }
    .second-menu button {
      background: none;
      border: 1px solid #2F2E2E;
      padding: 15px 30px;
      margin: 30px 0; }
    .second-menu .double-line {
      margin: 30px auto; }
    .second-menu .second-menu-information p {
      font-size: 0.9rem;
      margin: 5px; }

  .second-menu-img {
    background-image: url("https://static.wixstatic.com/media/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg/v1/fill/w_980,h_867,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.webp");
    background-size: cover;
    height: 500px; } }
@media screen and (min-width: 440px) and (max-width: 600px) {
  .chef-img {
    background-image: url("https://static.wixstatic.com/media/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg/v1/fill/w_1066,h_682,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_a5a164acd00a4ae7940be550e4915303.webp");
    height: 280px;
    background-size: cover; }

  .menu-information {
    border-bottom: 1px solid #2F2E2E;
    font-size: 1.2rem; } }

/*# sourceMappingURL=main.css.map */
