.chef-img {
  @media screen and (min-width: $screen-large + 1){
  width: 50%;
  background-position: 90%;
  height: 600px;
  display: inline-block;
  float: left;
  }
  @media screen and (min-width: $screen-medium + 1) and (max-width: $screen-large) {
    height: 330px;
  }
  @media screen and (min-width: $screen-small) and (max-width: $screen-medium) {
    height: 280px;
  }
  background-image: url("https://static.wixstatic.com/media/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg/v1/fill/w_1066,h_682,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_a5a164acd00a4ae7940be550e4915303.jpg");
  height: 200px;
  background-size: cover;
}

.about {
  @media screen and (min-width: $screen-large + 1) {
  font-size: 1.2rem;
  width: 50%;
  max-width: 512px;
  padding: $common-padding*3 0 0 $common-padding*2;
  display: inline-block;
  }
  @media screen and (min-width: $screen-medium + 1) and (max-width: $screen-large) {
    font-size: 1.2rem;
    padding: $common-padding;
  }
  font-size: 0.9rem;
  padding: $common-padding/2;

  p {
    @media screen and (min-width: $screen-medium + 1) and (max-width: $screen-large) {
      padding-top: $common-padding;
    }
    padding-top: $common-padding/2;
  }
}

.about-container {
  @media screen and (min-width: $screen-large + 1) {
  height: 600px;
}
}