.dot-container {
  display: none;
  list-style-type: none;

  .dot {
    width: 12px;
    height: 12px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    margin: 0 $common-padding 0 $common-padding/2;
  }

  &.active {
    .dot {
      background-color: black;
    }
    span {
      transform: translateX(0);
      opacity: 1;
    }
  }
  span {
    display: inline-block;
    font-weight: bold;
    color: $text-color;
    text-transform: uppercase;
    margin-top: 3px;
    transform: translateX(30px);
    opacity: 0;
    transition: opacity 0.2s, transform 1s;
    font-size: 1rem;
    position: absolute;
    right: 61px;
  }

  a {
    text-decoration: none;
  }
}

aside {
  display: block;
  position: fixed;
  right: 0;
  z-index: 999;
}

aside {
  @media screen and (min-width: $screen-large + 1) {
    top: 300px;

    .dot-container {
      display: block;
      &.active,
      &:hover {
        .dot {
          background-color: black;
        }
        span {
          transform: translateX(0);
          opacity: 1;

        }
      }
    }
  }
}

aside {
  @media screen and (min-width: $screen-medium + 1) and (max-width: $screen-large) {
    top: 160px;

    .dot-container {
      display: block;
      &.active {
        .dot {
          background-color: black;
        }
        span {
          transform: translateX(0);
          opacity: 1;

        }
      }
    }
  }
}

