.menus {
  text-align: center;
}

.restaurant-menus {
  .container {
    @media screen and (min-width: $screen-large + 1) {
      padding-top: $common-padding*4;
    }
  }
}

.menu-information {
  @media screen and (min-width: $screen-large + 1) {
    border-color: transparent;
    font-size: 1.1rem;
    display: inline-block;
    background-color: white;
    width: 30%;
    text-align: center;
    margin: $common-padding/3;
  }
  @media screen and (min-width: $screen-medium + 1) and (max-width: $screen-large) {
    font-size: 1.2rem;
    padding: 0 $common-padding*3;
    margin: $common-padding/3;
    border-bottom: 1px solid $text-color;
  }
  @media screen and (min-width: $screen-small) and (max-width: $screen-medium) {
    border-bottom: 1px solid $text-color;
    font-size: 1.2rem;
  }
  font-size: 0.9rem;
  border-bottom: 1px solid $text-color;
  padding: 0 $common-padding/2;

  img {
    @media screen and (min-width: $screen-large + 1) {
      height: 185px;
    }
  }
  .menu-img {
    @media screen and (min-width: $screen-large + 1) {
      padding-top: $common-padding*2;
    }
    padding-top: $common-padding;
  }

  .double-line {
    margin: auto;
  }

  h3:last-child {
    @media screen and (min-width: $screen-large + 1) {
      padding: 0 $common-padding*2;
    }
  }

  p {
    @media screen and (min-width: $screen-large + 1) {
      padding-top: $common-padding;
    }
  }

  a {
    text-decoration: none;
    color: $text-color;
  }
}

.second-menu {
  @media screen and (min-width: $screen-large + 1) {
    background-image: url("https://static.wixstatic.com/media/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg/v1/fill/w_1863,h_867,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg");
    text-align: center;
    overflow: hidden;
    padding-top: $common-padding*4;
    height: 867px;
  }
  text-align: center;

  & .container {
    @media screen and (min-width: $screen-large + 1) {
      width: $container-width/2;
    }
  }

  .second-menu-information {
    @media screen and (min-width: $screen-large + 1) {
      background-color: white;
    }
    padding: 0 $common-padding/2;

    h2 {
      @media screen and (min-width: $screen-large + 1) {
        padding-top: $common-padding*3;
        font-size: 2.2rem;
      }
    }
    p {
      @media screen and (min-width: $screen-large + 1) {
        margin: $common-padding/6;
        font-size: 1rem;
      }
      @media screen and (min-width: $screen-medium + 1) and (max-width: $screen-large) {
        font-size: 0.9rem;
        margin: $common-padding/6;
      }
    }
    h3 {
      @media screen and (min-width: $screen-large + 1) {
        padding: 0 $common-padding*3;
      }
    }
  }

  .double-line {
    @media screen and (min-width: $screen-large + 1), screen and (min-width: $screen-medium + 1) and (max-width: $screen-large) {
      margin: $common-padding auto;
    }
    margin: $common-padding/2 auto;
  }

  h2 {
    margin: $common-padding 0 0 0;
  }

  p {
    font-size: 1rem;
    margin: $common-padding/6;
  }

  button {
    @media screen and (min-width: $screen-large + 1) {
      background: none;
      border: 1px solid $text-color;
      padding: $common-padding/2 $common-padding;
      margin: $common-padding*2 0;
    }
    @media screen and (min-width: $screen-medium + 1) and (max-width: $screen-large) {
      background: none;
      border: 1px solid $text-color;
      padding: $common-padding/2 $common-padding;
      margin: $common-padding 0;
    }
    border: 1px solid $text-color;
    background: none;
    padding: $common-padding/3 $common-padding;
    margin: $common-padding/2 0;
  }
}

.second-menu-img {
  @media screen and (min-width: $screen-large + 1) {
    display: none;
  }
  @media screen and (min-width: $screen-medium + 1) and (max-width: $screen-large) {
    background-image: url("https://static.wixstatic.com/media/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg/v1/fill/w_980,h_867,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg");
    background-size: cover;
    height: 500px;
  }
  background-image: url("https://static.wixstatic.com/media/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg/v1/fill/w_320,h_267,al_c,q_80,usm_0.66_1.00_0.01/e1c78c_cfd8fa1d16904a849e8f86d8e3bb3829.jpg");
  background-size: cover;
  height: 300px;
}

.restaurant-menus {
  @media screen and (min-width: $screen-large + 1) {
    background-image: url("https://static.wixstatic.com/media/e1c78c_823b4e996eb74e60b4505f1dc7b725f3.jpg/v1/fill/w_1863,h_828,al_c,q_85,usm_0.66_1.00_0.01/e1c78c_823b4e996eb74e60b4505f1dc7b725f3.jpg");
    background-size: cover;
    height: 800px;
    width: 100%;
  }
}